*{
    text-align: center;
}

head h1{
    border: none;
    color: darkblue;
}
.head {
    background-color: gainsboro;
    margin-left: 20px;
    margin-right: 20px;

}

.body {
    border-radius: 6px;
    border: 2px solid brown;
    color: brown;
    background-color: lightblue;
    margin-right: 500px;
    margin-left: 500px;
}